@import "../../static/scss/mixins";

.formTitle {
  margin-bottom: 20px;
  @include my-font-styles(#000, 100%, 24px, 700);
}

.fileValidatorInput {
  position: relative;
  padding-left: 10px;
  height: 48px;
  width: 100%;
}

.inputsBlock {
  margin-bottom: 20px;
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    align-items: center;
  }
  & button:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
    @media (min-width: 768px) {
      margin-right: 30px;
    }
  }
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  height: 36px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  cursor: pointer;
  background-color: transparent;
  border: 1px #000 solid;
  border-radius: 2px;
  color: #000000;
}