.formBlock {
  display: none;
}

.formFilms {
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  @media (min-width: 768px) {
    width: 380px;
  }
  border-radius: 2px;
}

.formInput {
  padding-left: 10px;
  height: 24px;
  width: 100%;
  margin-bottom: 15px;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  height: 24px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  cursor: pointer;
  background-color: transparent;
  border: 1px #fff solid;
  border-radius: 2px;
  color: #fff;
}