@import "../../static/scss/mixins";

.formBlock {
  margin-bottom: 40px;
}

.formTitle {
  margin-bottom: 20px;
  @include my-font-styles(#000, 100%, 24px, 700);
}

.textValidatorInput {
  padding-left: 10px;
  height: 48px;
  width: 100%;
  font-size: 16px;
}

.option {
  font-size: 16px;
}

.inputsBlock {
  margin-bottom: 20px;

  & div:not(:last-child) {
    margin-bottom: 20px;
  }
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
}

.btn {
  @include my-font-styles(#000, 100%, 16px, 700);
  height: 36px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  cursor: pointer;
  background-color: transparent;
  border: 1px #000 solid;
  border-radius: 2px;
  color: #000000;
}